body{
    width: 1366px;
    background-color: #1e3253;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 600px;
    border: 3px solid #5d6e88;
    border-radius: 12px;
    color: #feffff;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 0 auto;
    padding: 10px 15px 10px 15px;
    margin-bottom: 6rem;
    ul{
        padding: 0px;
    }
    ul li{
        list-style: none;
        font-size: 27px;
        font-weight:bold;
        margin-top:-10px;
        font-family: 'Barlow Semi Condensed', sans-serif;
    }
    .scoreboard{
        background-color: #f9f9f9;
        width: 150px;
        border-radius: 12px;
        height: 120px;
        margin-top: 9px;
        .score-text{
            font-family: 'Barlow Semi Condensed', sans-serif;
            color: #3e52b5;
            text-align: center;
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        .score{
            color: #5e5a71;
            font-family: 'Barlow Semi Condensed', sans-serif;
        }
    }
}

#game-board{
    height: 400px;
    background-size: auto;
}

#frame{
    figure{
        position: relative;
        z-index: 0;
        margin: 0 auto;
        width: 375px;
        img{
            width: 100%;
        }
    }
}

#scissors-container{
    margin: 0 auto;
    position: relative;
    z-index: 1;
    top: -400px;
    text-align: center;
    #scissors{
        width: 50px;
        height: 50px;
        background-color: white;
        border: 15px solid #eba726;
        border-radius: 360px;
        padding: 25px;
    }
}


#spock-container{
    margin: 0 auto;
    position: relative;
    z-index: 1;
    top: -390px;
    left: -185px;
    text-align: center;
    #spock{
        width: 50px;
        height: 50px;
        padding: 25px;
        background-color: white;
        border: 15px solid #42bbcc;
        border-radius: 360px;
    }
}

#paper-container{
    margin: 0 auto;
    position: relative;
    z-index: 1;
    top: -520px;
    right: -185px;
    text-align: center;
    #paper{
        width: 50px;
        height: 50px;
        padding: 25px;
        background-color: white;
        border: 15px solid #4f6af5;
        border-radius: 360px;
    }
}

#rock-container{
    margin: 0 auto;
    position: relative;
    z-index: 1;
    top: -480px;
    right: -100px;
    text-align: center;
    #rock{
        width: 50px;
        height: 50px;
        padding: 25px;
        background-color: white;
        border: 15px solid #d92e4e;
        border-radius: 360px;
    }
}

#lizard-container{
    margin: 0 auto;
    position: relative;
    z-index: 1;
    top: -615px;
    left: -100px;
    text-align: center;
    #lizard{
        width: 50px;
        height: 50px;
        padding: 25px;
        background-color: white;
        border: 15px solid #8655e5;
        border-radius: 360px;
    }
}
