body {
  width: 1366px;
  margin: 0;
  padding: 0;
  background: #1d3454;
  background: radial-gradient(circle, #1d3454 0%, #182343 55%, #1d3454 100%);
}

.hide {
  display: none;
}

.wrapper {
  background: #1d3454;
  background: radial-gradient(circle, #1d3454 0%, #182343 55%, #1d3454 100%);
  height: 700px;
  overflow: hidden;
  padding-top: 20px;
}

.opacity {
  background-color: black;
  opacity: 0.6;
  position: absolute;
  z-index: 4;
  width: 130%;
  height: 130%;
  animation: blink 200ms linear;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  width: 600px;
  border: 3px solid #5d6e88;
  border-radius: 12px;
  color: #feffff;
  font-family: "Barlow Semi Condensed", sans-serif;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 10px 15px 10px 15px;
  margin-bottom: 6rem;
}
.header ul {
  padding: 0px;
}
.header ul li {
  list-style: none;
  font-size: 27px;
  font-weight: bold;
  margin-top: -10px;
  font-family: "Barlow Semi Condensed", sans-serif;
}
.header .scoreboard {
  background-color: #f9f9f9;
  width: 150px;
  border-radius: 12px;
  height: 120px;
  margin-top: 9px;
}
.header .scoreboard .score-text {
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #3e52b5;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.header .scoreboard .score {
  color: #5e5a71;
  font-family: "Barlow Semi Condensed", sans-serif;
}

#the-rules {
  background-color: white;
  padding: 15px;
  padding-top: 5px;
  padding-left: 30px;
  padding-bottom: 40px;
  border-radius: 10px;
  width: 350px;
  position: absolute;
  z-index: 5;
  left: 450px;
  top: 160px;
  justify-content: center;
  animation: blink2 300ms linear;
}
@keyframes blink2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#the-rules img {
  margin: 0 auto;
}
#the-rules div {
  display: flex;
  width: 100%;
}
#the-rules div div {
  width: 5%;
  padding: 35px;
  position: relative;
  top: -15px;
  right: -20px;
}
#the-rules div div img {
  cursor: pointer;
}
#the-rules div p {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 29px;
  color: #404761;
  font-weight: bold;
  width: 90%;
}

#close:hover {
  box-shadow: 1px 1px 3px #cccccc;
  padding: 5px;
  scale: 1.6;
  border-radius: 5px;
}

#game-board {
  height: 380px;
  background-size: auto;
  position: relative;
  z-index: 2;
}

#frame figure {
  position: relative;
  z-index: 0;
  margin: 0 auto;
  width: 375px;
  overflow: hidden;
}
#frame figure img {
  width: 100%;
}

#scissors-container {
  margin: 0 auto;
  position: relative;
  z-index: 1;
  top: -400px;
  text-align: center;
}
#scissors-container #scissors {
  width: 50px;
  height: 50px;
  background-color: white;
  border: 15px solid #eba726;
  border-radius: 360px;
  padding: 25px;
  cursor: pointer;
}

#spock-container {
  margin: 0 auto;
  position: relative;
  z-index: 1;
  top: -390px;
  left: -185px;
  text-align: center;
}
#spock-container #spock {
  width: 50px;
  height: 50px;
  padding: 25px;
  background-color: white;
  border: 15px solid #42bbcc;
  border-radius: 360px;
  cursor: pointer;
}

#paper-container {
  margin: 0 auto;
  position: relative;
  z-index: 1;
  top: -520px;
  right: -185px;
  text-align: center;
}
#paper-container #paper {
  width: 50px;
  height: 50px;
  padding: 25px;
  background-color: white;
  border: 15px solid #4f6af5;
  border-radius: 360px;
  cursor: pointer;
}

#rock-container {
  margin: 0 auto;
  position: relative;
  z-index: 1;
  top: -480px;
  right: -100px;
  text-align: center;
}
#rock-container #rock {
  width: 50px;
  height: 50px;
  padding: 25px;
  background-color: white;
  border: 15px solid #d92e4e;
  border-radius: 360px;
  cursor: pointer;
}

#lizard-container {
  margin: 0 auto;
  position: relative;
  width: 130px !important;
  z-index: 1;
  top: -615px;
  left: -100px;
  text-align: center;
}
#lizard-container #lizard {
  width: 50px;
  height: 50px;
  padding: 25px;
  background-color: white;
  border: 15px solid #8655e5;
  border-radius: 360px;
  cursor: pointer;
}

#rules-container {
  display: flex;
  width: 90%;
  justify-content: flex-end;
  position: relative;
  z-index: 3;
  top: -70px;
  transition: all 300ms;
}
#rules-container :hover {
  box-shadow: 0px 1px 3px #cccccc;
  scale: 1.1;
  background-color: #4f6af5;
}
#rules-container :active {
  background-color: #3555f3;
  box-shadow: 0px 1px 3px #404761 inset;
}

#rules {
  border: 3px solid #80849d;
  width: 100px;
  color: white;
  padding: 5px;
  text-align: center;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  border-radius: 10px;
  cursor: pointer;
}

.player-option {
  overflow: visible !important;
}
.player-option :hover {
  scale: 1.1;
  height: 100%;
}
.player-option :active {
  box-shadow: 0px 3px 5px rgba(255, 255, 255, 0.596);
}

/*# sourceMappingURL=styles.css.map */
